@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sofia-sans);
  --font-condensed: var(--font-sofia-sans-extra-condensed);
  --font-decorative: var(--font-romanesco);
  --color-crimson: #FF5500;
  --color-ice: #9EBFE3;
  --color-dusk: "#00080e";
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #00080e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

