@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sofia-sans);
  --font-condensed: var(--font-sofia-sans-extra-condensed);
  --font-decorative: var(--font-romanesco);
  --text-crimson: #FF5500;
  --text-ice: #9EBFE3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

